.my-extension {
    padding: 20px;
}

.my-extension h1 {
    color: #2ab031;
    display: flex;
    font-size: xx-large;
    flex-direction: row;
    justify-content: center;
}

.UserInput {
    display: flex;
    flex-direction: column;
}

.OutputContainer{
    justify-content: center;
}